@{
    ViewData ["Title"] = "Simple Search";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="SimpleSearch">
            <fieldset>
                <legend>Simple Search</legend>
                <div class="row mb-3">
                    <label for="minDate" class="col-sm-2 col-form-label">Min Date</label>
                    <div class="col-sm-10">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="maxDate" class="col-sm-2 col-form-label">Max Date</label>
                    <div class="col-sm-10">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
